In [11]:
#拉格朗日插值代码
import numpy as np
import pandas as pd
from matplotlib import pyplot as plt
from scipy.interpolate import lagrange

In [12]:
data = pd.read_excel('./data/missing_data.xls',header = None)

In [13]:
data

           0         1         2
0   235.8333  350.8333  478.3231
1   236.2708  351.2708  515.4564
2   238.0521  353.0521  517.0909
3   235.9063  350.9063  514.8900
4   236.7604  351.7604       NaN
5        NaN  352.4167  486.0912
6   237.4167  353.6563  516.2330
7   238.6563       NaN       NaN
8   237.6042  352.6042  435.3508
9   238.0313  353.0313  487.6750
10  235.0729  350.0729       NaN
11  235.5313  350.5313  660.2347
12       NaN  349.4688  621.2346
13  234.4688       NaN  611.3408
14  235.5000  350.5000  643.0863
15  235.6354  350.6354  642.3482
16  234.5521  349.5521       NaN
17  236.0000       NaN  602.9347
18  235.2396  350.2396  589.3457
19  235.4896  350.4896  556.3452
20  236.9688  351.9688  538.3470

In [14]:
#自定义列向量插值函数
#s为列向量，n为被插值的位置，k为取前后的数据个数，默认为5
def ployinterp_column(s, n, k=5):
    y = s[list(range(n-k, n)) + list(range(n+1, n+1+k))] #取数
    y = y[y.notnull()] #剔除空值
    return lagrange(y.index, list(y))(n) #插值并返回插值结果

#逐个元素判断是否需要插值
for i in data.columns:
    for j in range(len(data)):
        if (data[i].isnull())[j]: #如果为空即插值。
            data[i][j] = ployinterp_column(data[i], j)

D:\Anconda\lib\site-packages\pandas\core\series.py:942: FutureWarning:
Passing list-likes to .loc or [] with any missing label will raise
KeyError in the future, you can use .reindex() as an alternative.

See the documentation here:
https://pandas.pydata.org/pandas-docs/stable/indexing.html#deprecate-loc-reindex-listlike
  return self.loc[key]

In [15]:
data

             0           1           2
0   235.833300  350.833300  478.323100
1   236.270800  351.270800  515.456400
2   238.052100  353.052100  517.090900
3   235.906300  350.906300  514.890000
4   236.760400  351.760400  493.352591
5   237.151181  352.416700  486.091200
6   237.416700  353.656300  516.233000
7   238.656300  352.903129  493.342382
8   237.604200  352.604200  435.350800
9   238.031300  353.031300  487.675000
10  235.072900  350.072900  609.193564
11  235.531300  350.531300  660.234700
12  235.314951  349.468800  621.234600
13  234.468800  349.013601  611.340800
14  235.500000  350.500000  643.086300
15  235.635400  350.635400  642.348200
16  234.552100  349.552100  618.197198
17  236.000000  349.271168  602.934700
18  235.239600  350.239600  589.345700
19  235.489600  350.489600  556.345200
20  236.968800  351.968800  538.347000