In [1]:
import numpy as np
import pandas as pd
from matplotlib import pyplot as plt
plt.rcParams['font.sans-serif'] = ['SimHei']
plt.rcParams['axes.unicode_minus'] = False

In [2]:
# 一、数据规范化

In [3]:
# 1.最小最大规范化

In [4]:
data = pd.read_excel('../实验数据/normalization_data.xls',header=None)

In [5]:
data.head()

     0    1    2     3
0   78  521  602  2863
1  144 -600 -521  2245
2   95 -457  468 -1283
3   69  596  695  1054
4  190  527  691  2051

In [6]:
#公式计算
(data-data.min())/(data.max()-data.min())

          0         1         2         3
0  0.074380  0.937291  0.923520  1.000000
1  0.619835  0.000000  0.000000  0.850941
2  0.214876  0.119565  0.813322  0.000000
3  0.000000  1.000000  1.000000  0.563676
4  1.000000  0.942308  0.996711  0.804149
5  0.264463  0.838629  0.814967  0.909310
6  0.636364  0.846990  0.786184  0.929571

In [7]:
#库函数计算
from sklearn.preprocessing import MinMaxScaler
model = MinMaxScaler()
model.fit_transform(data)

D:\Anconda\lib\site-packages\sklearn\preprocessing\data.py:334: DataConversionWarning: Data with input dtype int64 were all converted to float64 by MinMaxScaler.
  return self.partial_fit(X, y)

array([[0.07438017, 0.93729097, 0.92351974, 1.        ],
       [0.61983471, 0.        , 0.        , 0.85094067],
       [0.21487603, 0.11956522, 0.81332237, 0.        ],
       [0.        , 1.        , 1.        , 0.56367583],
       [1.        , 0.94230769, 0.99671053, 0.80414858],
       [0.26446281, 0.83862876, 0.81496711, 0.90931018],
       [0.63636364, 0.84698997, 0.78618421, 0.92957067]])

In [8]:
# 2.零-均值归一化

In [9]:
#公式计算
(data-data.mean())/data.std()

          0         1         2         3
0 -0.905383  0.635863  0.464531  0.798149
1  0.604678 -1.587675 -2.193167  0.369390
2 -0.516428 -1.304030  0.147406 -2.078279
3 -1.111301  0.784628  0.684625 -0.456906
4  1.657146  0.647765  0.675159  0.234796
5 -0.379150  0.401807  0.152139  0.537286
6  0.650438  0.421642  0.069308  0.595564

In [10]:
#库函数计算
from sklearn.preprocessing import StandardScaler
model = StandardScaler()
model.fit_transform(data)

D:\Anconda\lib\site-packages\sklearn\preprocessing\data.py:645: DataConversionWarning: Data with input dtype int64 were all converted to float64 by StandardScaler.
  return self.partial_fit(X, y)
D:\Anconda\lib\site-packages\sklearn\base.py:464: DataConversionWarning: Data with input dtype int64 were all converted to float64 by StandardScaler.
  return self.fit(X, **fit_params).transform(X)

array([[-0.97792593,  0.686811  ,  0.50175066,  0.86209921],
       [ 0.65312742, -1.71488504, -2.36889121,  0.39898718],
       [-0.55780612, -1.40851347,  0.15921637, -2.244798  ],
       [-1.20034229,  0.84749539,  0.73947968, -0.49351513],
       [ 1.78992218,  0.69966575,  0.72925478,  0.25360897],
       [-0.40952855,  0.43400089,  0.16432882,  0.58033526],
       [ 0.70255328,  0.45542548,  0.07486091,  0.64328252]])

In [11]:
# 3.小数定标规范化

In [12]:
#公式计算
data/(10**np.ceil(np.log10(data.abs().max())))

       0      1      2       3
0  0.078  0.521  0.602  0.2863
1  0.144 -0.600 -0.521  0.2245
2  0.095 -0.457  0.468 -0.1283
3  0.069  0.596  0.695  0.1054
4  0.190  0.527  0.691  0.2051
5  0.101  0.403  0.470  0.2487
6  0.146  0.413  0.435  0.2571

In [13]:
#库函数计算
from sklearn.preprocessing import MaxAbsScaler
model = MaxAbsScaler()
model.fit_transform(data)

array([[ 0.41052632,  0.86833333,  0.86618705,  1.        ],
       [ 0.75789474, -1.        , -0.74964029,  0.78414251],
       [ 0.5       , -0.76166667,  0.67338129, -0.44813133],
       [ 0.36315789,  0.99333333,  1.        ,  0.3681453 ],
       [ 1.        ,  0.87833333,  0.9942446 ,  0.71638142],
       [ 0.53157895,  0.67166667,  0.67625899,  0.86866923],
       [ 0.76842105,  0.68833333,  0.62589928,  0.89800908]])

In [14]:
# 4.练习数据规范化

In [15]:
data = pd.read_excel('../实验数据/股票数据.xlsx',index_col='序号')

In [16]:
data.head()

,A股板块,代码,昨收,开盘,成交,y,X1,X2,X3,X4,行业
序号,,,,,,,,,,,
0,上海雅仕,603329,23.76,23.96,26.14,0.1002,4.098,7068万元,16.91亿,0.1392,仓储物流
1,顶固集创,300749,35.75,36.04,37.12,0.0383,3.223,3411万元,10.58亿,0.2013,家具制造
2,每日互动,300766,59.13,65.04,65.04,0.0999,3.165,8254万元,26.08亿,0.9905,互联网
3,动力源,600405,5.83,6.41,6.41,0.0995,3.017,1.070亿元,35.46亿,0.5785,电源设备
4,雄韬股份,2733,25.67,26.71,27.55,0.0732,2.942,2.672亿元,90.15亿,0.1856,电源设备

In [17]:
data.X3 = data.X3.map(lambda x:x.strip('亿')).astype(float)

In [18]:
#将X2，X3的万元和亿元单位删除并将X2的万与亿统一为亿
list_money = []
for i in data['X2']:
    if i[-2] == '万':
        list_money.append(float(i[:-2])/10000)
    elif i[-2] == '亿':
        list_money.append(float(i[:-2]))
data.X2 = list_money
data.X3 = data.X3.map(lambda x:x.strip('亿')).astype(float)

AttributeError: 'float' object has no attribute 'strip'

In [19]:
data.head()

,A股板块,代码,昨收,开盘,成交,y,X1,X2,X3,X4,行业
序号,,,,,,,,,,,
0,上海雅仕,603329,23.76,23.96,26.14,0.1002,4.098,0.7068,16.91,0.1392,仓储物流
1,顶固集创,300749,35.75,36.04,37.12,0.0383,3.223,0.3411,10.58,0.2013,家具制造
2,每日互动,300766,59.13,65.04,65.04,0.0999,3.165,0.8254,26.08,0.9905,互联网
3,动力源,600405,5.83,6.41,6.41,0.0995,3.017,1.0700,35.46,0.5785,电源设备
4,雄韬股份,2733,25.67,26.71,27.55,0.0732,2.942,2.6720,90.15,0.1856,电源设备

In [20]:
#取出对应列并用库函数归一化，并查看相关性
data1 = data[['y','X1','X2','X3','X4']]

model = StandardScaler()
data2 = pd.DataFrame(model.fit_transform(data1))

data2.corr()

          0         1         2         3         4
0  1.000000  0.572692  0.491800  0.094179  0.363120
1  0.572692  1.000000  0.563179 -0.098554  0.442596
2  0.491800  0.563179  1.000000  0.540240  0.309143
3  0.094179 -0.098554  0.540240  1.000000  0.031271
4  0.363120  0.442596  0.309143  0.031271  1.000000

In [21]:
# 二、数据离散化

In [22]:
# 1.等宽离散化

In [23]:
data = pd.read_excel('../实验数据/discretization_data.xls')

In [24]:
data.head()

   肝气郁结证型系数
0     0.056
1     0.488
2     0.107
3     0.322
4     0.242

In [25]:
pd.cut(data['肝气郁结证型系数'],bins=4,labels=[0,1,2,3])

0      0
1      3
2      0
3      2
4      1
5      3
6      1
7      2
8      1
9      1
10     2
11     1
12     2
13     2
14     1
15     2
16     0
17     1
18     2
19     1
20     1
21     1
22     2
23     1
24     1
25     1
26     1
27     1
28     2
29     2
      ..
900    2
901    0
902    1
903    1
904    1
905    2
906    0
907    1
908    2
909    2
910    2
911    0
912    1
913    0
914    1
915    3
916    0
917    0
918    0
919    1
920    2
921    0
922    1
923    0
924    2
925    2
926    0
927    2
928    2
929    1
Name: 肝气郁结证型系数, Length: 930, dtype: category
Categories (4, int64): [0 < 1 < 2 < 3]

In [26]:
# 2.等频离散化

In [27]:
k = 4

w = [i/k for i in range(k+1)] #[0.0, 0.25, 0.5, 0.75, 1.0]

des = data.describe(percentiles=w)[4:4+k+1] #percentiles=w包含0%，原本只有25%，50%，75%，100%

pd.cut(data['肝气郁结证型系数'], bins = des.iloc[:,0].values, labels=range(k)) #bins要给一个numpy，不能直接给一个Series

0      0
1      3
2      0
3      3
4      2
5      3
6      2
7      3
8      2
9      1
10     3
11     2
12     2
13     2
14     1
15     2
16     0
17     0
18     3
19     0
20     0
21     1
22     2
23     2
24     0
25     0
26     1
27     2
28     2
29     3
      ..
900    2
901    0
902    1
903    0
904    1
905    3
906    0
907    1
908    3
909    3
910    3
911    0
912    1
913    0
914    0
915    3
916    0
917    0
918    0
919    0
920    3
921    0
922    0
923    0
924    3
925    3
926    0
927    3
928    3
929    0
Name: 肝气郁结证型系数, Length: 930, dtype: category
Categories (4, int64): [0 < 1 < 2 < 3]

In [28]:
# 3.练习等频离散化,将模考成绩转换成'不及格','及格','中','良','优'的等级

In [29]:
data = pd.read_excel('../实验数据/在线考试成绩.xls')

In [30]:
data.head()

   用户名  平时成绩  末考成绩
0    1    74    77
1    2    95    80
2    3    93    69
3    4    76    67
4    5    91    79

In [31]:
pd.cut(data['末考成绩'],bins=[0,60,70,80,90,100],labels=['不及格','及格','中','良','优'])

0        中
1        中
2       及格
3       及格
4        中
5       及格
6       及格
7       及格
8       及格
9       及格
10       良
11      及格
12       中
13       中
14      及格
15     不及格
16       中
17     不及格
18       中
19      及格
20      及格
21      及格
22      及格
23     不及格
24      及格
25       中
26       良
27     不及格
28     不及格
29       中
      ...
219      良
220      中
221      中
222      中
223      中
224      良
225      良
226     及格
227     及格
228      中
229      中
230     及格
231      良
232      中
233      良
234      中
235      中
236     及格
237    不及格
238      中
239      中
240     及格
241      良
242      良
243      中
244      中
245      良
246      中
247      良
248      良
Name: 末考成绩, Length: 249, dtype: category
Categories (5, object): [不及格 < 及格 < 中 < 良 < 优]