In [15]:
import Apriori
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [16]:
dataSet = Apriori.loadDataSet()

In [17]:
df = pd.read_csv('关联规则数据/Data_Basket.csv')

In [18]:
df.head()

,Card num.,Amount,Payment,Gender,Tenant,Income,Age,Fruits & vegetables,Meat,Milk products,Canned vegetables,Canned meat,Frozen goods,Beer,Wine,Soda drinks,Fish,Textile
0,39808,427.12,Cheque,M,Yes,270000,46,No,Yes,Yes,No,No,No,No,No,No,No,Yes
1,67362,253.56,Cash,F,Yes,300000,28,No,Yes,No,No,No,No,No,No,No,No,Yes
2,10872,206.17,Cash,M,Yes,132000,36,No,No,No,Yes,No,Yes,Yes,No,No,Yes,No
3,26748,236.88,Card,F,Yes,122000,26,No,No,Yes,No,No,No,No,Yes,No,No,No
4,91609,188.13,Card,M,No,110000,24,No,No,No,No,No,No,No,No,No,No,No

In [19]:
df = df.iloc[:,7:]

In [20]:
df.head()

,Fruits & vegetables,Meat,Milk products,Canned vegetables,Canned meat,Frozen goods,Beer,Wine,Soda drinks,Fish,Textile
0,No,Yes,Yes,No,No,No,No,No,No,No,Yes
1,No,Yes,No,No,No,No,No,No,No,No,Yes
2,No,No,No,Yes,No,Yes,Yes,No,No,Yes,No
3,No,No,Yes,No,No,No,No,Yes,No,No,No
4,No,No,No,No,No,No,No,No,No,No,No

In [21]:
shop = {x:y for y,x in zip(df.columns,range(len(df.columns)))}

In [22]:
shop_list = []
for i in df.iterrows():
    s_list2 = []
    for j,k in zip(i[1],range(11)):
        if j=='Yes':
            s_list2.append(shop[k])
            shop_list.append(s_list2)

In [23]:
temp = []
for i in shop_list:
    if i not in temp:
        temp.append(i)

In [25]:
df.head()

,Fruits & vegetables,Meat,Milk products,Canned vegetables,Canned meat,Frozen goods,Beer,Wine,Soda drinks,Fish,Textile
0,No,Yes,Yes,No,No,No,No,No,No,No,Yes
1,No,Yes,No,No,No,No,No,No,No,No,Yes
2,No,No,No,Yes,No,Yes,Yes,No,No,Yes,No
3,No,No,Yes,No,No,No,No,Yes,No,No,No
4,No,No,No,No,No,No,No,No,No,No,No

In [26]:
L,supportData = Apriori.apriori(temp,minSupport=0.1)

In [27]:
rule = Apriori.gen_rule(L,supportData,minConf=0.5)

frozenset({'Fish'}) --> frozenset({'Fruits & vegetables'}) 支持度 0.208108 置信度： 0.534722 lift值为： 1.327834
frozenset({'Fruits & vegetables'}) --> frozenset({'Fish'}) 支持度 0.208108 置信度： 0.516779 lift值为： 1.327834
frozenset({'Frozen goods'}) --> frozenset({'Canned vegetables'}) 支持度 0.202703 置信度： 0.513699 lift值为： 1.250451
frozenset({'Frozen goods'}) --> frozenset({'Beer'}) 支持度 0.2 置信度： 0.506849 lift值为： 1.389143
frozenset({'Beer'}) --> frozenset({'Frozen goods'}) 支持度 0.2 置信度： 0.548148 lift值为： 1.389143
frozenset({'Beer'}) --> frozenset({'Canned vegetables'}) 支持度 0.2 置信度： 0.548148 lift值为： 1.334308
frozenset({'Canned vegetables', 'Frozen goods'}) --> frozenset({'Beer'}) 支持度 0.151351 置信度： 0.746667 lift值为： 2.04642
frozenset({'Canned vegetables', 'Beer'}) --> frozenset({'Frozen goods'}) 支持度 0.151351 置信度： 0.756757 lift值为： 1.917808
frozenset({'Frozen goods', 'Beer'}) --> frozenset({'Canned vegetables'}) 支持度 0.151351 置信度： 0.756757 lift值为： 1.842105