In [1]:
import numpy as np
import pandas as pd
from matplotlib import pyplot as plt
plt.rcParams['font.sans-serif'] = ['SimHei']
plt.rcParams['axes.unicode_minus'] = False

In [2]:
data1 = pd.read_csv('./用户收视数据/附件3：用户基本信息.csv',
                  encoding = 'gbk')
data2 = pd.read_excel('./用户收视数据/附件1：用户收视信息.xlsx',
                  encoding = 'gbk',sheet_name= '用户收视信息',)
data3 = pd.read_excel('./用户收视数据/附件1：用户收视信息.xlsx',
                  encoding = 'gbk',sheet_name= '用户回看信息')
data4 = pd.read_excel('./用户收视数据/附件1：用户收视信息.xlsx',
                  encoding = 'gbk',sheet_name= '用户单片点播信息')

In [3]:
data1.head()

,用户号,业务品牌,用户状态,状态改变时间,预存款,套餐,销售品,资费,入网时间,销售品生效时间,销售品失效时间,机顶盒编号
0,11183,互动电视,正常,20160718,120.0,乐惠套餐-15M-包月-89元-预存600元,互动+联合宽带-59元包-月享,互动+联合宽带-59元包-月享,20160718,20160718,20500101,11284
1,10830,互动电视,正常,20160119,0.0,NaN,互动标准包,互动标准包-包月-26.5元,20160119,20170301,20500101,10980
2,10073,互动电视,正常,20141122,1.0,NaN,互动标准包-600预存-送快乐点2年(到期停),互动600预存-26.5元-捆快乐点2年,20130704,20130704,20500101,10551
3,10536,互动电视,正常,20140630,0.0,乐惠套餐-12M-2年-1880,互动+联合宽带-标准包,互动+联合宽带-包月-26.5元-280购机,20140630,20140630,20500101,10716
4,10082,互动电视,正常,20130711,0.0,NaN,互动标准包-600预存-送快乐点2年(到期停),互动600预存-26.5元-捆快乐点2年,20130711,20130711,20500101,11141

In [4]:
data1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1329 entries, 0 to 1328
Data columns (total 12 columns):
用户号        1329 non-null int64
业务品牌       1329 non-null object
用户状态       1329 non-null object
状态改变时间     1329 non-null int64
预存款        1329 non-null float64
套餐         673 non-null object
销售品        1329 non-null object
资费         1329 non-null object
入网时间       1329 non-null int64
销售品生效时间    1329 non-null int64
销售品失效时间    1329 non-null int64
机顶盒编号      1329 non-null int64
dtypes: float64(1), int64(6), object(5)
memory usage: 124.7+ KB

In [5]:
data2.head()

   机顶盒设备号      统计日期  频道号      频道名              收看开始时间              收看结束时间
0   10001  20170701    1  中央1台-高清 2017-07-01 22:04:00 2017-07-01 22:08:00
1   10001  20170702  123      翡翠台 2017-07-02 09:30:00 2017-07-02 09:49:00
2   10001  20170702    1  中央1台-高清 2017-07-02 09:29:00 2017-07-02 09:30:00
3   10001  20170716    1  中央1台-高清 2017-07-16 21:59:00 2017-07-16 22:04:00
4   10001  20170716    1  中央1台-高清 2017-07-16 19:21:00 2017-07-16 19:23:00

In [6]:
data2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 361963 entries, 0 to 361962
Data columns (total 6 columns):
机顶盒设备号    361963 non-null int64
统计日期      361963 non-null int64
频道号       361963 non-null int64
频道名       361963 non-null object
收看开始时间    361963 non-null datetime64[ns]
收看结束时间    361963 non-null datetime64[ns]
dtypes: datetime64[ns](2), int64(3), object(1)
memory usage: 16.6+ MB

In [7]:
data1['机顶盒编号'].values

array([11284, 10980, 10551, ..., 11107, 10594, 10103], dtype=int64)

In [8]:
data2['机顶盒设备号'].drop_duplicates().values

array([10001, 10002, 10003, ..., 11327, 11328, 11329], dtype=int64)

In [9]:
#判断是否所有机顶盒都存在
set(data1['机顶盒编号'].values)>set(data2['机顶盒设备号'].drop_duplicates().values)

True

In [10]:
#用户收视信息

In [11]:
datas2 = pd.DataFrame(pd.to_datetime(data2['收看结束时间']) - pd.to_datetime(data2['收看开始时间']))

In [12]:
data2 = pd.concat([data2,datas2],axis=1)

In [13]:
data2.head()

,机顶盒设备号,统计日期,频道号,频道名,收看开始时间,收看结束时间,0
0,10001,20170701,1,中央1台-高清,2017-07-01 22:04:00,2017-07-01 22:08:00,00:04:00
1,10001,20170702,123,翡翠台,2017-07-02 09:30:00,2017-07-02 09:49:00,00:19:00
2,10001,20170702,1,中央1台-高清,2017-07-02 09:29:00,2017-07-02 09:30:00,00:01:00
3,10001,20170716,1,中央1台-高清,2017-07-16 21:59:00,2017-07-16 22:04:00,00:05:00
4,10001,20170716,1,中央1台-高清,2017-07-16 19:21:00,2017-07-16 19:23:00,00:02:00

In [14]:
grouped = data2.groupby(by='机顶盒设备号')

In [15]:
grouped.sum()

               统计日期    频道号
机顶盒设备号
10001     322732598    504
10002    5768835745  16240
10003     524438340    936
10004   13010155567   8236
10005    3509731437    852
10008    9359266808  42191
10009     685809523   2227
10010    1553149847   3555
10011    2460835966   9967
10012   11376356834  56006
10013   10630015419  25775
10014   13695961444  48603
10015    5829360704   4595
10016    4820828701  20574
10017    5466284692  29305
10018     685806610   1376
10019    3086130507   3103
10020     161367350    349
10021     121025272    743
10022    4094684629   5319
10023    7705227010  15382
10024     363074911     85
10026    5506624345  36283
10027   25778279428  58808
10028     282391045    574
10029     383244145     66
10030   25173171169  48139
10031    1714517405   8237
10032    5930220015  31902
10033     463929657   2361
...             ...    ...
11296    3872792536  18706
11297     282391710    986
11298    2380155125  10746
11299    5889863554   3763
11300    4518254919   9554
11303    2339816786   4456
11304      20170907    123
11305    7806108784  34698
11306      60512127    361
11307    1734691434   8405
11308     100854204    187
11309   14906226967  24163
11310      60512415      3
11311    4155201848   1804
11314     342904072   2019
11315      80683477    474
11316     141195254    857
11317    2017080477  11810
11318    3731596602   1528
11319    5083034309  17463
11320    7846475741   4949
11321    1553151662   8789
11322    3065959478   6294
11323    9964366775  16139
11324    4881332513  23764
11325     302562879   2089
11326    4921680283  22802
11327   36912586181  92345
11328    1795198328   5548
11329    3771935072  17934

[1043 rows x 2 columns]

In [16]:
grouped[0].sum()

机顶盒设备号
10001    0 days 01:18:00
10002    5 days 04:25:00
10003    1 days 06:53:00
10004   33 days 22:39:00
10005   37 days 19:25:00
10008   22 days 06:03:00
10009    9 days 01:10:00
10010    1 days 11:54:00
10011   20 days 01:54:00
10012    7 days 12:06:00
10013   49 days 12:19:00
10014    7 days 19:34:00
10015    8 days 02:32:00
10016    3 days 13:46:00
10017   12 days 03:13:00
10018    5 days 18:00:00
10019   14 days 14:33:00
10020    1 days 06:15:00
10021    0 days 05:13:00
10022   18 days 10:30:00
10023   10 days 00:19:00
10024    0 days 06:09:00
10026   24 days 04:29:00
10027   13 days 06:16:00
10028    0 days 07:28:00
10029    1 days 05:00:00
10030   80 days 19:00:00
10031    1 days 03:20:00
10032    9 days 19:43:00
10033    2 days 14:46:00
              ...
11296    1 days 13:43:00
11297    0 days 11:27:00
11298   19 days 11:40:00
11299   27 days 00:40:00
11300   13 days 22:27:00
11303    8 days 11:35:00
11304    0 days 00:04:00
11305   24 days 14:41:00
11306    0 days 00:55:00
11307    3 days 04:56:00
11308    0 days 01:33:00
11309    7 days 02:48:00
11310    0 days 00:20:00
11311    3 days 23:25:00
11314    0 days 15:05:00
11315    0 days 01:13:00
11316    0 days 01:01:00
11317    2 days 00:39:00
11318   12 days 17:16:00
11319   21 days 05:22:00
11320    6 days 12:54:00
11321    8 days 08:24:00
11322   11 days 22:02:00
11323   54 days 19:47:00
11324   26 days 20:31:00
11325    0 days 09:40:00
11326   35 days 07:38:00
11327   81 days 11:35:00
11328    5 days 06:27:00
11329    3 days 06:04:00
Name: 0, Length: 1043, dtype: timedelta64[ns]

In [17]:
datas2 = pd.concat([grouped.sum(),grouped[0].sum()],axis=1)

In [18]:
datas2.columns

Index(['统计日期', '频道号', 0], dtype='object')

In [19]:
datas2.columns = ['统计日期', '频道号', '收看时间']

In [20]:
datas2

               统计日期    频道号             收看时间
机顶盒设备号
10001     322732598    504  0 days 01:18:00
10002    5768835745  16240  5 days 04:25:00
10003     524438340    936  1 days 06:53:00
10004   13010155567   8236 33 days 22:39:00
10005    3509731437    852 37 days 19:25:00
10008    9359266808  42191 22 days 06:03:00
10009     685809523   2227  9 days 01:10:00
10010    1553149847   3555  1 days 11:54:00
10011    2460835966   9967 20 days 01:54:00
10012   11376356834  56006  7 days 12:06:00
10013   10630015419  25775 49 days 12:19:00
10014   13695961444  48603  7 days 19:34:00
10015    5829360704   4595  8 days 02:32:00
10016    4820828701  20574  3 days 13:46:00
10017    5466284692  29305 12 days 03:13:00
10018     685806610   1376  5 days 18:00:00
10019    3086130507   3103 14 days 14:33:00
10020     161367350    349  1 days 06:15:00
10021     121025272    743  0 days 05:13:00
10022    4094684629   5319 18 days 10:30:00
10023    7705227010  15382 10 days 00:19:00
10024     363074911     85  0 days 06:09:00
10026    5506624345  36283 24 days 04:29:00
10027   25778279428  58808 13 days 06:16:00
10028     282391045    574  0 days 07:28:00
10029     383244145     66  1 days 05:00:00
10030   25173171169  48139 80 days 19:00:00
10031    1714517405   8237  1 days 03:20:00
10032    5930220015  31902  9 days 19:43:00
10033     463929657   2361  2 days 14:46:00
...             ...    ...              ...
11296    3872792536  18706  1 days 13:43:00
11297     282391710    986  0 days 11:27:00
11298    2380155125  10746 19 days 11:40:00
11299    5889863554   3763 27 days 00:40:00
11300    4518254919   9554 13 days 22:27:00
11303    2339816786   4456  8 days 11:35:00
11304      20170907    123  0 days 00:04:00
11305    7806108784  34698 24 days 14:41:00
11306      60512127    361  0 days 00:55:00
11307    1734691434   8405  3 days 04:56:00
11308     100854204    187  0 days 01:33:00
11309   14906226967  24163  7 days 02:48:00
11310      60512415      3  0 days 00:20:00
11311    4155201848   1804  3 days 23:25:00
11314     342904072   2019  0 days 15:05:00
11315      80683477    474  0 days 01:13:00
11316     141195254    857  0 days 01:01:00
11317    2017080477  11810  2 days 00:39:00
11318    3731596602   1528 12 days 17:16:00
11319    5083034309  17463 21 days 05:22:00
11320    7846475741   4949  6 days 12:54:00
11321    1553151662   8789  8 days 08:24:00
11322    3065959478   6294 11 days 22:02:00
11323    9964366775  16139 54 days 19:47:00
11324    4881332513  23764 26 days 20:31:00
11325     302562879   2089  0 days 09:40:00
11326    4921680283  22802 35 days 07:38:00
11327   36912586181  92345 81 days 11:35:00
11328    1795198328   5548  5 days 06:27:00
11329    3771935072  17934  3 days 06:04:00

[1043 rows x 3 columns]

In [21]:
#用户回看信息

In [22]:
data3.head()

,设备号,统计时间,用户号,频道,回看开始时间,回看结束时间,回看时长.时.
0,10001,20170723,10853,东方卫视-高清,2017-07-22 23:02:56,2017-07-23 00:38:30,0.6417
1,10001,20170723,10853,东方卫视-高清,2017-07-22 23:02:56,2017-07-23 00:38:30,0.9511
2,10004,20170713,10886,北京卫视-高清,2017-07-12 22:11:30,2017-07-13 07:48:07,2.0000
3,10004,20170713,10886,北京卫视-高清,2017-07-12 22:11:30,2017-07-13 07:48:07,2.0000
4,10004,20170713,10886,北京卫视-高清,2017-07-12 22:11:30,2017-07-13 07:48:07,1.8083

In [23]:
data3.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 24660 entries, 0 to 24659
Data columns (total 7 columns):
设备号        24660 non-null int64
统计时间       24660 non-null int64
用户号        24660 non-null int64
频道         24660 non-null object
回看开始时间     24660 non-null datetime64[ns]
回看结束时间     24660 non-null datetime64[ns]
回看时长.时.    24660 non-null float64
dtypes: datetime64[ns](2), float64(1), int64(3), object(1)
memory usage: 1.3+ MB

In [24]:
datas3 = pd.DataFrame(pd.to_datetime(data3['回看结束时间']) - pd.to_datetime(data3['回看开始时间']))

In [25]:
data3 = pd.concat([data3,datas3],axis=1)

In [26]:
grouped = data3.groupby(by='设备号')

In [27]:
datas3 = pd.concat([grouped.sum(),grouped[0].sum()],axis=1)

In [28]:
datas3.columns

Index(['统计时间', '用户号', '回看时长.时.', 0], dtype='object')

In [29]:
datas3.columns = ['统计时间', '用户号', '回看时长.时.', '回看时间']

In [30]:
#用户单片点播信息

In [31]:
data4.head()

,设备号,统计日期,二级目录,影片名称,观看开始时间,观看结束时间,用户号
0,10001,20170702,精彩点,寄生兽(高清),2017-07-01 22:08:17,2017-07-02 00:08:33,10853
1,10001,20170702,精彩点,寄生兽(高清)(经典传奇漫画改编之作),2017-07-01 22:08:17,2017-07-02 00:08:33,10853
2,10001,20170716,精彩点,樱之味：舌尖上的日本(01)(高清),2017-07-16 22:04:14,2017-07-16 22:39:37,10853
3,10001,20170716,精彩点,06月16日 奔跑吧：热巴林依晨变暴力姐妹花(高清),2017-07-16 19:23:40,2017-07-16 20:49:22,10853
4,10001,20170716,精彩点,樱之味：舌尖上的日本(02)(高清),2017-07-16 22:39:35,2017-07-16 23:10:13,10853

In [32]:
data4.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 38010 entries, 0 to 38009
Data columns (total 7 columns):
设备号       38010 non-null int64
统计日期      38010 non-null int64
二级目录      38007 non-null object
影片名称      38010 non-null object
观看开始时间    38010 non-null datetime64[ns]
观看结束时间    38010 non-null datetime64[ns]
用户号       38010 non-null int64
dtypes: datetime64[ns](2), int64(3), object(2)
memory usage: 2.0+ MB

In [33]:
datas4 = pd.DataFrame(pd.to_datetime(data4['观看结束时间']) - pd.to_datetime(data4['观看开始时间']))

In [34]:
data4 = pd.concat([data4,datas4],axis=1)

In [35]:
grouped = data4.groupby(by='设备号')

In [36]:
datas4 = pd.concat([grouped.sum(),grouped[0].sum()],axis=1)

In [37]:
datas4.columns

Index(['统计日期', '用户号', 0], dtype='object')

In [38]:
datas4.columns = ['统计日期', '用户号', '观看时间']

In [39]:
#查看数据并合并数据

In [40]:
datas2.head()

               统计日期    频道号             收看时间
机顶盒设备号
10001     322732598    504  0 days 01:18:00
10002    5768835745  16240  5 days 04:25:00
10003     524438340    936  1 days 06:53:00
10004   13010155567   8236 33 days 22:39:00
10005    3509731437    852 37 days 19:25:00

In [41]:
datas3.head()

             统计时间     用户号  回看时长.时.            回看时间
设备号
10001    40341446   21706   1.5928 0 days 03:11:08
10004   625297350  337466  27.6381 4 days 10:22:49
10010   342902448  187357   7.6345 0 days 11:37:12
10012  1210250507  660060  17.5764 1 days 01:03:16
10013   302563060  166125  12.6634 3 days 07:49:24

In [42]:
datas4.head()

              统计日期      用户号             观看时间
设备号
10001    685806600   369002  1 days 06:17:37
10004     40341606    21772  0 days 01:39:16
10010    463927761   253483  0 days 15:57:00
10013  11114123390  6102325 35 days 08:28:24
10015     60512442    30897  0 days 00:46:41

In [43]:
datas2.index.name = '设备号'

In [44]:
data = pd.merge(datas2, datas3, how='outer', on='设备号')

In [45]:
datas = pd.merge(data, datas4, how='outer', on='设备号')

In [46]:
datas

,统计日期_x,频道号,收看时间,统计时间,用户号_x,回看时长.时.,回看时间,统计日期_y,用户号_y,观看时间
设备号,,,,,,,,,,
10001,3.227326e+08,504.0,0 days 01:18:00,4.034145e+07,21706.0,1.5928,0 days 03:11:08,6.858066e+08,369002.0,1 days 06:17:37
10002,5.768836e+09,16240.0,5 days 04:25:00,NaN,NaN,NaN,NaT,NaN,NaN,NaT
10003,5.244383e+08,936.0,1 days 06:53:00,NaN,NaN,NaN,NaT,NaN,NaN,NaT
10004,1.301016e+10,8236.0,33 days 22:39:00,6.252974e+08,337466.0,27.6381,4 days 10:22:49,4.034161e+07,21772.0,0 days 01:39:16
10005,3.509731e+09,852.0,37 days 19:25:00,NaN,NaN,NaN,NaT,NaN,NaN,NaT
10008,9.359267e+09,42191.0,22 days 06:03:00,NaN,NaN,NaN,NaT,NaN,NaN,NaT
10009,6.858095e+08,2227.0,9 days 01:10:00,NaN,NaN,NaN,NaT,NaN,NaN,NaT
10010,1.553150e+09,3555.0,1 days 11:54:00,3.429024e+08,187357.0,7.6345,0 days 11:37:12,4.639278e+08,253483.0,0 days 15:57:00
10011,2.460836e+09,9967.0,20 days 01:54:00,NaN,NaN,NaN,NaT,NaN,NaN,NaT
10012,1.137636e+10,56006.0,7 days 12:06:00,1.210251e+09,660060.0,17.5764,1 days 01:03:16,NaN,NaN,NaT
10013,1.063002e+10,25775.0,49 days 12:19:00,3.025631e+08,166125.0,12.6634,3 days 07:49:24,1.111412e+10,6102325.0,35 days 08:28:24
10014,1.369596e+10,48603.0,7 days 19:34:00,NaN,NaN,NaN,NaT,NaN,NaN,NaT
10015,5.829361e+09,4595.0,8 days 02:32:00,6.051235e+07,30897.0,0.8156,0 days 00:48:56,6.051244e+07,30897.0,0 days 00:46:41
10016,4.820829e+09,20574.0,3 days 13:46:00,NaN,NaN,NaN,NaT,NaN,NaN,NaT
10017,5.466285e+09,29305.0,12 days 03:13:00,NaN,NaN,NaN,NaT,NaN,NaN,NaT
10018,6.858066e+08,1376.0,5 days 18:00:00,NaN,NaN,NaN,NaT,NaN,NaN,NaT
10019,3.086131e+09,3103.0,14 days 14:33:00,NaN,NaN,NaN,NaT,NaN,NaN,NaT
10020,1.613674e+08,349.0,1 days 06:15:00,1.411965e+08,73045.0,5.4115,0 days 09:14:07,NaN,NaN,NaT
10021,1.210253e+08,743.0,0 days 05:13:00,NaN,NaN,NaN,NaT,NaN,NaN,NaT
10022,4.094685e+09,5319.0,18 days 10:30:00,NaN,NaN,NaN,NaT,2.017092e+07,10139.0,0 days 06:18:11
10023,7.705227e+09,15382.0,10 days 00:19:00,NaN,NaN,NaN,NaT,NaN,NaN,NaT
10024,3.630749e+08,85.0,0 days 06:09:00,NaN,NaN,NaN,NaT,NaN,NaN,NaT
10026,5.506624e+09,36283.0,24 days 04:29:00,NaN,NaN,NaN,NaT,NaN,NaN,NaT
10027,2.577828e+10,58808.0,13 days 06:16:00,1.411957e+08,76188.0,4.5586,0 days 07:32:20,1.532982e+09,827184.0,1 days 04:59:33
10028,2.823910e+08,574.0,0 days 07:28:00,NaN,NaN,NaN,NaT,1.815374e+08,101169.0,0 days 08:39:38
10029,3.832441e+08,66.0,1 days 05:00:00,NaN,NaN,NaN,NaT,1.008546e+08,50250.0,0 days 03:21:14
10030,2.517317e+10,48139.0,80 days 19:00:00,NaN,NaN,NaN,NaT,NaN,NaN,NaT
10031,1.714517e+09,8237.0,1 days 03:20:00,1.573322e+09,869934.0,24.4890,1 days 11:36:20,NaN,NaN,NaT
10032,5.930220e+09,31902.0,9 days 19:43:00,9.883680e+08,525329.0,22.6448,1 days 17:45:05,4.296393e+09,2283573.0,4 days 23:45:15
10033,4.639297e+08,2361.0,2 days 14:46:00,1.210252e+08,65034.0,4.4828,0 days 10:56:42,7.866661e+08,422721.0,1 days 07:30:36
...,...,...,...,...,...,...,...,...,...,...
11298,2.380155e+09,10746.0,19 days 11:40:00,NaN,NaN,NaN,NaT,NaN,NaN,NaT
11299,5.889864e+09,3763.0,27 days 00:40:00,NaN,NaN,NaN,NaT,NaN,NaN,NaT
11300,4.518255e+09,9554.0,13 days 22:27:00,1.109394e+09,597025.0,38.2323,8 days 13:45:22,1.190076e+09,640445.0,3 days 02:50:11
11303,2.339817e+09,4456.0,8 days 11:35:00,NaN,NaN,NaN,NaT,NaN,NaN,NaT
11304,2.017091e+07,123.0,0 days 00:04:00,NaN,NaN,NaN,NaT,NaN,NaN,NaT
11305,7.806109e+09,34698.0,24 days 14:41:00,NaN,NaN,NaN,NaT,NaN,NaN,NaT
11306,6.051213e+07,361.0,0 days 00:55:00,NaN,NaN,NaN,NaT,1.008535e+08,53570.0,0 days 01:15:37
11307,1.734691e+09,8405.0,3 days 04:56:00,NaN,NaN,NaN,NaT,NaN,NaN,NaT
11308,1.008542e+08,187.0,0 days 01:33:00,NaN,NaN,NaN,NaT,NaN,NaN,NaT
11309,1.490623e+10,24163.0,7 days 02:48:00,4.235864e+08,213423.0,10.8597,0 days 17:23:59,1.573326e+09,792714.0,2 days 02:32:15
11310,6.051242e+07,3.0,0 days 00:20:00,2.017080e+07,11040.0,0.8394,0 days 00:50:22,2.420484e+08,132480.0,0 days 02:22:48
11311,4.155202e+09,1804.0,3 days 23:25:00,NaN,NaN,NaN,NaT,NaN,NaN,NaT
11314,3.429041e+08,2019.0,0 days 15:05:00,4.034164e+07,20616.0,1.4911,0 days 01:29:28,NaN,NaN,NaT
11315,8.068348e+07,474.0,0 days 01:13:00,NaN,NaN,NaN,NaT,NaN,NaN,NaT
11316,1.411953e+08,857.0,0 days 01:01:00,NaN,NaN,NaN,NaT,NaN,NaN,NaT
11317,2.017080e+09,11810.0,2 days 00:39:00,NaN,NaN,NaN,NaT,NaN,NaN,NaT
11318,3.731597e+09,1528.0,12 days 17:16:00,NaN,NaN,NaN,NaT,NaN,NaN,NaT
11319,5.083034e+09,17463.0,21 days 05:22:00,3.630734e+08,201132.0,25.5534,11 days 18:30:26,1.008535e+08,55870.0,0 days 07:04:49
11320,7.846476e+09,4949.0,6 days 12:54:00,NaN,NaN,NaN,NaT,NaN,NaN,NaT
11321,1.553152e+09,8789.0,8 days 08:24:00,NaN,NaN,NaN,NaT,1.795202e+09,957907.0,6 days 20:48:51
11322,3.065959e+09,6294.0,11 days 22:02:00,NaN,NaN,NaN,NaT,NaN,NaN,NaT
11323,9.964367e+09,16139.0,54 days 19:47:00,NaN,NaN,NaN,NaT,1.613666e+08,83872.0,0 days 01:50:04
11324,4.881333e+09,23764.0,26 days 20:31:00,NaN,NaN,NaN,NaT,NaN,NaN,NaT
11325,3.025629e+08,2089.0,0 days 09:40:00,NaN,NaN,NaN,NaT,NaN,NaN,NaT
11326,4.921680e+09,22802.0,35 days 07:38:00,NaN,NaN,NaN,NaT,NaN,NaN,NaT
11327,3.691259e+10,92345.0,81 days 11:35:00,NaN,NaN,NaN,NaT,NaN,NaN,NaT
11328,1.795198e+09,5548.0,5 days 06:27:00,2.017079e+08,111170.0,5.4531,0 days 06:46:24,NaN,NaN,NaT
11329,3.771935e+09,17934.0,3 days 06:04:00,NaN,NaN,NaN,NaT,NaN,NaN,NaT
10462,NaN,NaN,NaT,NaN,NaN,NaN,NaT,2.017071e+07,10678.0,0 days 02:09:08
10735,NaN,NaN,NaT,NaN,NaN,NaN,NaT,1.613674e+08,81704.0,1 days 20:14:36

In [47]:
datas = datas.loc[:,['收看时间','回看时间','观看时间']]

In [48]:
datas.head()

                  收看时间            回看时间            观看时间
设备号
10001  0 days 01:18:00 0 days 03:11:08 1 days 06:17:37
10002  5 days 04:25:00             NaT             NaT
10003  1 days 06:53:00             NaT             NaT
10004 33 days 22:39:00 4 days 10:22:49 0 days 01:39:16
10005 37 days 19:25:00             NaT             NaT

In [49]:
#处理NaT

In [50]:
datas['回看时间'] = np.where(pd.isnull(datas['回看时间']) == True, 0, datas['回看时间'])

In [51]:
datas['收看时间'] = np.where(pd.isnull(datas['收看时间']) == True, 0, datas['收看时间'])

In [52]:
datas['观看时间'] = np.where(pd.isnull(datas['观看时间']) == True, 0, datas['观看时间'])

In [53]:
datas.head()

                  收看时间            回看时间            观看时间
设备号
10001  0 days 01:18:00 0 days 03:11:08 1 days 06:17:37
10002  5 days 04:25:00 0 days 00:00:00 0 days 00:00:00
10003  1 days 06:53:00 0 days 00:00:00 0 days 00:00:00
10004 33 days 22:39:00 4 days 10:22:49 0 days 01:39:16
10005 37 days 19:25:00 0 days 00:00:00 0 days 00:00:00

In [54]:
#计算用户观看时间

In [55]:
datas['用户总时间(天 时 分 秒)'] = datas['收看时间'] + datas['回看时间'] + datas['观看时间']

In [56]:
#定义时间转换函数
def convert_timedelta(duration):
    days, seconds = duration.days, duration.seconds
    hours = seconds // 3600
    minutes = (seconds % 3600) // 60
    seconds = (seconds % 60)
    return days, hours, minutes, seconds

In [57]:
times = []
for i in datas.index:
    d,h,m,s = convert_timedelta(datas['用户总时间(天 时 分 秒)'][i])
    times.append(d*24*60 + h*60 + m + s/60)

In [58]:
datas['用户总时间(分)'] = times

In [59]:
datas['用户总时间(分)'] = datas['用户总时间(分)'].map(lambda x:('%.2f')%x)

In [60]:
datas

,收看时间,回看时间,观看时间,用户总时间(天 时 分 秒),用户总时间(分)
设备号,,,,,
10001,0 days 01:18:00,0 days 03:11:08,1 days 06:17:37,1 days 10:46:45,2086.75
10002,5 days 04:25:00,0 days 00:00:00,0 days 00:00:00,5 days 04:25:00,7465.00
10003,1 days 06:53:00,0 days 00:00:00,0 days 00:00:00,1 days 06:53:00,1853.00
10004,33 days 22:39:00,4 days 10:22:49,0 days 01:39:16,38 days 10:41:05,55361.08
10005,37 days 19:25:00,0 days 00:00:00,0 days 00:00:00,37 days 19:25:00,54445.00
10008,22 days 06:03:00,0 days 00:00:00,0 days 00:00:00,22 days 06:03:00,32043.00
10009,9 days 01:10:00,0 days 00:00:00,0 days 00:00:00,9 days 01:10:00,13030.00
10010,1 days 11:54:00,0 days 11:37:12,0 days 15:57:00,2 days 15:28:12,3808.20
10011,20 days 01:54:00,0 days 00:00:00,0 days 00:00:00,20 days 01:54:00,28914.00
10012,7 days 12:06:00,1 days 01:03:16,0 days 00:00:00,8 days 13:09:16,12309.27
10013,49 days 12:19:00,3 days 07:49:24,35 days 08:28:24,88 days 04:36:48,126996.80
10014,7 days 19:34:00,0 days 00:00:00,0 days 00:00:00,7 days 19:34:00,11254.00
10015,8 days 02:32:00,0 days 00:48:56,0 days 00:46:41,8 days 04:07:37,11767.62
10016,3 days 13:46:00,0 days 00:00:00,0 days 00:00:00,3 days 13:46:00,5146.00
10017,12 days 03:13:00,0 days 00:00:00,0 days 00:00:00,12 days 03:13:00,17473.00
10018,5 days 18:00:00,0 days 00:00:00,0 days 00:00:00,5 days 18:00:00,8280.00
10019,14 days 14:33:00,0 days 00:00:00,0 days 00:00:00,14 days 14:33:00,21033.00
10020,1 days 06:15:00,0 days 09:14:07,0 days 00:00:00,1 days 15:29:07,2369.12
10021,0 days 05:13:00,0 days 00:00:00,0 days 00:00:00,0 days 05:13:00,313.00
10022,18 days 10:30:00,0 days 00:00:00,0 days 06:18:11,18 days 16:48:11,26928.18
10023,10 days 00:19:00,0 days 00:00:00,0 days 00:00:00,10 days 00:19:00,14419.00
10024,0 days 06:09:00,0 days 00:00:00,0 days 00:00:00,0 days 06:09:00,369.00
10026,24 days 04:29:00,0 days 00:00:00,0 days 00:00:00,24 days 04:29:00,34829.00
10027,13 days 06:16:00,0 days 07:32:20,1 days 04:59:33,14 days 18:47:53,21287.88
10028,0 days 07:28:00,0 days 00:00:00,0 days 08:39:38,0 days 16:07:38,967.63
10029,1 days 05:00:00,0 days 00:00:00,0 days 03:21:14,1 days 08:21:14,1941.23
10030,80 days 19:00:00,0 days 00:00:00,0 days 00:00:00,80 days 19:00:00,116340.00
10031,1 days 03:20:00,1 days 11:36:20,0 days 00:00:00,2 days 14:56:20,3776.33
10032,9 days 19:43:00,1 days 17:45:05,4 days 23:45:15,16 days 13:13:20,23833.33
10033,2 days 14:46:00,0 days 10:56:42,1 days 07:30:36,4 days 09:13:18,6313.30
...,...,...,...,...,...
11298,19 days 11:40:00,0 days 00:00:00,0 days 00:00:00,19 days 11:40:00,28060.00
11299,27 days 00:40:00,0 days 00:00:00,0 days 00:00:00,27 days 00:40:00,38920.00
11300,13 days 22:27:00,8 days 13:45:22,3 days 02:50:11,25 days 15:02:33,36902.55
11303,8 days 11:35:00,0 days 00:00:00,0 days 00:00:00,8 days 11:35:00,12215.00
11304,0 days 00:04:00,0 days 00:00:00,0 days 00:00:00,0 days 00:04:00,4.00
11305,24 days 14:41:00,0 days 00:00:00,0 days 00:00:00,24 days 14:41:00,35441.00
11306,0 days 00:55:00,0 days 00:00:00,0 days 01:15:37,0 days 02:10:37,130.62
11307,3 days 04:56:00,0 days 00:00:00,0 days 00:00:00,3 days 04:56:00,4616.00
11308,0 days 01:33:00,0 days 00:00:00,0 days 00:00:00,0 days 01:33:00,93.00
11309,7 days 02:48:00,0 days 17:23:59,2 days 02:32:15,9 days 22:44:14,14324.23
11310,0 days 00:20:00,0 days 00:50:22,0 days 02:22:48,0 days 03:33:10,213.17
11311,3 days 23:25:00,0 days 00:00:00,0 days 00:00:00,3 days 23:25:00,5725.00
11314,0 days 15:05:00,0 days 01:29:28,0 days 00:00:00,0 days 16:34:28,994.47
11315,0 days 01:13:00,0 days 00:00:00,0 days 00:00:00,0 days 01:13:00,73.00
11316,0 days 01:01:00,0 days 00:00:00,0 days 00:00:00,0 days 01:01:00,61.00
11317,2 days 00:39:00,0 days 00:00:00,0 days 00:00:00,2 days 00:39:00,2919.00
11318,12 days 17:16:00,0 days 00:00:00,0 days 00:00:00,12 days 17:16:00,18316.00
11319,21 days 05:22:00,11 days 18:30:26,0 days 07:04:49,33 days 06:57:15,47937.25
11320,6 days 12:54:00,0 days 00:00:00,0 days 00:00:00,6 days 12:54:00,9414.00
11321,8 days 08:24:00,0 days 00:00:00,6 days 20:48:51,15 days 05:12:51,21912.85
11322,11 days 22:02:00,0 days 00:00:00,0 days 00:00:00,11 days 22:02:00,17162.00
11323,54 days 19:47:00,0 days 00:00:00,0 days 01:50:04,54 days 21:37:04,79057.07
11324,26 days 20:31:00,0 days 00:00:00,0 days 00:00:00,26 days 20:31:00,38671.00
11325,0 days 09:40:00,0 days 00:00:00,0 days 00:00:00,0 days 09:40:00,580.00
11326,35 days 07:38:00,0 days 00:00:00,0 days 00:00:00,35 days 07:38:00,50858.00
11327,81 days 11:35:00,0 days 00:00:00,0 days 00:00:00,81 days 11:35:00,117335.00
11328,5 days 06:27:00,0 days 06:46:24,0 days 00:00:00,5 days 13:13:24,7993.40
11329,3 days 06:04:00,0 days 00:00:00,0 days 00:00:00,3 days 06:04:00,4684.00
10462,0 days 00:00:00,0 days 00:00:00,0 days 02:09:08,0 days 02:09:08,129.13
10735,0 days 00:00:00,0 days 00:00:00,1 days 20:14:36,1 days 20:14:36,2654.60